
* {
  font-family: cera, PT, sans-serif;
}

body{
    margin:0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    flex-wrap: wrap;
    overflow: hidden;
}

.flex-item-1,
.flex-item-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
}

.flex-item-1 {
    width: 40%;
    margin: 0 1px 0 0;
}

.flex-item-2 {
    flex-basis: 6%;
    margin: 0 0 0 1px;
    border-left: 1px solid #dbdbdbef;
}

.pos-image-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.pos-img{
    position: relative;
    z-index: 1;

}

.pos-deco{
    position: absolute;
}

.pos-deco,
.pos-img {
    left: 0%;
    width: 100%;
    height: auto;
    width: 100%;
}

.methods-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.method{
    margin: 0 30px;
}

.content{
    position: relative;
    width:515px
}

.center{
    text-align: center;
}

.pos-description h1 {
    color: #00B8DE;
    margin: 180px 0 0 0;
}

.flex-item-2 h2 {
    margin: 10px 0 0 0;
}

.pos-description p,
.flex-item-2 p {
    font-size: 20px;
    width: 21em;
    margin: 0 auto 20px auto;
}

.flex-item-2 p{
    width: 30em;
}

.payment-method-container > p {
    font-size: 10px;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: 5px;
    color: #00B8DE;
}

.methods-container p {
    font-size: 10px;
    font-weight: bold;
    margin: 5px 0;
}

.methods-container > div {
    margin: 0 16px;
}

.qr-method-image-container,
.cards-method-image-container,
.ussd-method-image-container,
.transfer-method-image-container,
.paycode-method-image-container {
    padding: 13px;
    border: 1px solid #00B8DE;
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.qr-method-image-container > img,
.cards-method-image-container > img,
.ussd-method-image-container > img,
.transfer-method-image-container > img,
.paycode-method-image-container > img {
    width: 1.8em;
}

form {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

div.center h2{
    font-size: 2em;
}

.first-name-container,
.last-name-container,
.email-container,
.phone-container,
.Location-container,
.business-type-container,
.monthly-sales-container{
    display: block;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

.first-name-container,
.last-name-container {
    display: inline-block;
    width: 49.5%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 20px;
    font-size: 17px;
}

.checkbox label {
    margin: 50px 0;
}

select {
  appearance: none;
  font-size: 18px;
}

input[type="submit"] {
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #0275d8;
}

input[type="submit"]:hover {
    filter: opacity(0.7);
}

.popup {
    border-radius: 20px;
    text-align: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999999;
    border: 10px dashed #f7cd00;
    background: #2c353d;
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, #00435f37, #00425f37 20px,#00b9de34 20px, #00b8de34 40px);
    z-index: 99999;
}

.binoculars{
    width: 30px;
    filter: brightness(0) invert(1);
}


a.open-popup {
    font-weight: bold;
    text-decoration: none;
    color: #00425F;
}

a.popup-open:hover {
  text-decoration: underline;
}

h1,h2,p,div {
    color: #00425F;
}

@font-face {
  font-family: 'cera';
  src: url('fonts/cerapro/cerapro-regular-webfont.woff2') format('woff2'),
    url('fonts/cerapro/cerapro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera';
  src: url('fonts/cerapro/cerapro-bold-webfont.woff2') format('woff2'),
    url('fonts/cerapro/cerapro-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT';
  src: url('fonts/PTSans/PTSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT';
  src: url('fonts/PTSans/PTSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}